{% extends "layout.html" %}
{% load mineral_extras %}

{% block title %}Macky's Minerals: A magnificant catalog of minerals{% endblock %}


{% block content %}

    <div class="grid-100">
        <ul class="minerals__container">
            {% for mineral in minerals %}
            <li class="minerals__item">
                <a class="minerals__anchor" 
                href="{% url 'minerals:detail' pk=mineral.pk %}">{{ mineral.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="minerals__random">
    
    <a class="minerals__anchor" 
    href="{% url 'minerals:detail' pk=minerals|random_mineral %}">Show random mineral</a>
    
</div>

{% endblock %}